/* .select2-container--default .select2-selection--single{
    padding-bottom: 30px;
} */

/* .select2-container .select2-selection--single{
    height: none;
} */
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #000;
}

.alert-danger{
    color:#dc3545;
    padding : 5px;
    font-style: italic;
    background: none;
}

.alert{
    border : none
}